doctype html
html(lang="en")
  include ./includes/head.jade
  body
    .main.container
      include ./includes/title.jade
      include ./includes/index.jade
      p
        a.btn.btn-success.btn-large.call-to-action-btn(href="beta", role="button", title="Join the Beta!") Join the Beta!

    include ./includes/footer.jade
