doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="#{title}")
    meta(name="author", content="Farwell Project Advisors")
    title #{title}
    // link(rel="shortcut icon", href="/favicon.ico")
    // inject:css
    // endinject
  body
    .jumbotron
      #main.container
        h1 #{mainHeading}
        p
          a.btn.btn-primary.btn-large(href="#", role="button", data-toggle="tooltip", data-placement="bottom", title="Tooltip on bottom")
            span.glyphicon.glyphicon-asterisk
            i.fa.fa-heart
            =buttonText
    // inject:js
    // endinject
