.what.pull-left
  .clearfix
  .item
    .badge.pull-left 1
    .statement.pull-left
      span Add tasks to your work.
      .sub For example, 
        code &#35;TODO: Finish API docs
  .clearfix
  .item
    .badge.pull-left 2
    .statement.pull-left
      span Save your work.
      .sub imdone finds your tasks and puts them on your task-board.
  .clearfix
  .item
    .badge.pull-left 3
    .statement.pull-left
      span Organize your tasks.
      .sub Using imdone's drag and drop task-board.
  .clearfix
  .item
    .badge.pull-left 4
    .statement.pull-left
      span Share your tasks!
      .sub With google calendar, github, slack, trello and more.
    img#arrow(src="images/arrow.png")

p.clearfix
  a.btn.btn-success.btn-large(href="pricing", role="button", id="call-to-action", title="Plans and Pricing")
    =buttonText
