.row.plan-cols
  .col-md-3
    .plan-panel
      a#free-plan-link(href="free")
        h2 Free
        h3.text-center
          span.unit $
          span.price 0
          span.period /mo
        p.hint Find out what it feels like to stay in context and get stuff done!
    .plan-details
      ul
        li
          span.main-point 
            span.glyphicon.glyphicon-ok
          span.description Organize tasks in your work
        li
          span.main-point 1
          span.description 1 integration
        li
          span.main-point 5
          span.description 5 shares/mo
        li
          span.main-point 
            span.glyphicon.glyphicon-ok
          span.description Free atom editor package
        li.text-center
          a#free-plan-btn.btn.btn-success.btn-large(href="free", role="button") Sign up now
  .col-md-3
    .plan-panel.highlighted
      a#standard-plan-link(href="standard")
        h2 Standard
        h3.text-center
          span.unit $
          span.price 10
          span.period /mo
        p.hint Work smarter not harder. Get more updates while you're away.
    .plan-details
      ul
        li
          span.main-point 
            span.glyphicon.glyphicon-ok
          span.description Organize tasks in your work
        li
          span.main-point 2
          span.description 2 integrations
        li
          span.main-point 100
          span.description 100 shares/mo
        li
          span.main-point 
            span.glyphicon.glyphicon-ok
          span.description Free atom editor package
        li.text-center
          a#standard-plan-btn.btn.btn-success.btn-large(href="standard", role="button") Sign up now
  .col-md-3
    .plan-panel
      a#max-plan-link(href="max")
        h2 Max
        h3.text-center
          span.unit $
          span.price 30
          span.period /mo
        p.hint Make your whole team smarter with unlimited integrations and shares.
    .plan-details
      ul
        li
          span.main-point 
            span.glyphicon.glyphicon-ok
          span.description Organize tasks in your work
        li
          span.main-point &infin;
          span.description Unlimited integrations
        li
          span.main-point &infin;
          span.description Unlimited shares
        li
          span.main-point 
            span.glyphicon.glyphicon-ok
          span.description Free atom editor package
        li
          span.main-point 
            span.glyphicon.glyphicon-ok
          span.description Direct line to founder
        li.text-center
          a#max-plan-btn.btn.btn-success.btn-large(href="max", role="button") Sign up now
