h1
  a.title-link(href="https://atom.io/packages/imdone-atom", title="Get imdone-atom - A plugin for GitHub's Atom editor!")
    img(src="#{logoImage}")
    span.name imdone 
  span is a task-board that lives in your 
  span.typed work
